
{% extends 'perdash/sample.html' %}


{% block main %}

   <div id="feedback"></div>
    <div class="row">
      {% set m = get_flashed_messages(with_categories=True) %}
      {%if m: %}
      {% for cat,msg in m %}
          {% if cat == "error" %}
          <div class="alert alert-danger text-center">{{msg}} </div>
          {% else %}
          <div class="alert alert-success text-center">{{msg}} </div>
          {%endif%}
      {%endfor %}
      {%endif%}
      <div class="col-md">
          {% if app %}
          <table class="table table-responsive table-striped">
              <thead>
                  <tr>
                      <th>S/N</th>
                      <th>Patients Name</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Status</th>
                      <th>Message</th>
                      <th>Profile</th>
                  </tr>
              </thead>
              <tbody>
                  {% for i in app %}
                  <tr>
                      <td>{{loop.index}}</td>
                      <td> {{i.app_deets.pat_lastname}} {{i.app_deets.pat_firstname}}</td>
                      <td>{{i.app_date}}</td>
                      <td>{{i.app_time}}</td>
                      {% if i.app_status =="pending" %}
                      <td>
                        <a href="/approve_appointment/{{ i.app_id }}" class="btn btn-success">Approve</a>
                        <a href="/decline_appointment/{{ i.app_id }}" class="btn btn-danger">Decline</a>
                      </td>
                      {% elif i.app_status == "approved" %}
                      <td><button class="btn btn-success">Approved</button></td>
                      {%else%}
                      <td><button class="btn btn-danger">Declined</button></td>
                      {%endif%}
                      
                      <td><a href="{{url_for('app_feedback',id=i.app_id)}}" class="btn btn-primary">Reasons</a></td>
                      <td><img src="/static/uploads/{{i.app_deets.profile_picture}}" alt="" width="150" height="150"></td>
                    

                      <!-- Button trigger modal -->
                      <!-- <td>
                        
                          <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            View Patient
                          </a>
                          
                      </td> -->
                  </tr>
                  {%endfor%}
              </tbody>
          </table>
          {%else%}
          <div class="alert alert-info">No Appointments.</div>
          {%endif%}
      </div>
    </div>

    <!-- Modal -->
{#<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Patients Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <h3>{{app1}}</h3>
          <h3></h3>
          <h3></h3>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          {% for a in app%}
          <a href="{{url_for('approve_appointment',appointment_id=a.app_id)}}" id="btn1" value="pending" class="btn btn-success">Approve</a>
          {%endfor%}
          <button type="button" class="btn btn-danger">Decline</button>
        </div>
      </div>
    </div>
  </div>#}

{% endblock %}



{% block query %}

         
<script>


  $(document).ready(function(){
        // $("#state").change(function(){
        //     var selected_state = $(this).val()
        //     var url = "/lga/"+ selected_state
        //     $('#mylga').load(url)
        //     // $('#mlga').change(function(){
        //     //   $("#chk").prop("disabled",false)
        //     // })
        // })


        // $(".ok").click(function(){
        //   $("#show").css("display","block")
        // })


        // Review submission
        $('#btn1').click(function(){
        
        // make ajax call using the $.post
        var content = $('#pend').val()
        var csrf = "{{csrf_token()}}"
        // var personnelid = $('#appid').val()
        var data = {"content":content,"csrf_token":csrf}
        $('#feedback').load('/app_history/',data,function(){
          ("#pend").addClass('btn btn-success').text("Approved")
        })
      // $.post("/approve_appointment/<int:appointment_id>/",data2send,function(serverRsp){
      //   $('#feedback').append(serverRsp).addClass("alert alert-info")
        
      // })
    
    })
    })


</script>
<!-- <script>
    $("#btn1").click(function(){
      var content = $('#btn').val()
      var btnsata = "/approve_appointment/<int:appointment_id>/" + content
      $('$btn1').load(btnsata)
    })
</script> -->

{% endblock %}